
h1 {
  color: #DA8A26;
}
h2 {
  color: #DA8A26;
}
.nav-list-item a {
  color: #DA8A26;
}
.nav-list-item .active {
  color: white;
}

.side-bar {
  background-color: #4D5450;
}
.site-logo {
  filter: invert(1);
}